<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="icon" type="image/jpeg" href="/static/music/images/music.jpeg" sizes="350x500">
{% load bootstrap4 %}
{% block content%}
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand/logo -->
  <a class="navbar-brand" href="{% url 'main' %}">Music Web App</a>

  <!-- Links -->
  <ul class="navbar-nav">

    <li class="nav-item">
      <a class="nav-link" href="{% url 'main' %}">Main</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
    </li>
  </ul>
</nav>
<title>Music Web App - {{ album_list.title}}</title>
<div class="card" style="width:1000px" align="center">

    <img class="card-img-top" src="/static/music/images/{{ album_list.albums_logo }}" alt="Card image" style="width:100%">
    <div class="card-body">
      <div class="col-md-4">
      <h4 class="card-title">Name of the Movie : {{ album_list.title}}</h4>
      <h4>Music Director : {{ album_list.artist }}</h4>
      <ul>
          {% for item in album_list.song_set.all %}
            <li>{{ item.song_title }}</li>

            <audio controls>
                   <source src="/static/music/songs/{{ item.location }}" type="audio/mp3">
            </audio>
          {% endfor %}
      </ul>
    </div>
    </div>
  </div>
{% endblock %}
